{# templates/home/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Accueil - Maison des Langues{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles.css') }}">
{% endblock %}

{% block body %}
    <section id="hebergement">
        <h2>Options d'Hébergement</h2>
        {% for hotel in hotels %}
            <div class="hotel-card">
                <h3>{{ hotel.pnom }}</h3>
                {% if chambresEtTarifs[hotel.id] is defined %}
                    {% for tarifInfo in chambresEtTarifs[hotel.id] %}
                        <div class="categorie-chambre">
                            <h4>{{ tarifInfo.libelleCategorie }}</h4>
                            <p>Tarif: {{ tarifInfo.tarifNuite }} € par nuit</p>
                        </div>
                    {% endfor %}

                {% else %}
                    <p>Aucune information sur les chambres et tarifs disponible pour cet hôtel.</p>
                {% endif %}
            </div>
        {% endfor %}
    </section>

    <footer>
        <p>Contactez-nous: contact@mdl.com</p>
    </footer>
{% endblock %}
