{% extends 'base.html.twig' %}

{# table de correspondances pour afficher les jours en français #}
{% set trans_day_hash = { 
        "Monday": "Lundi", 
        "Tuesday": "Mardi", 
        "Wednesday": "Mercredi", 
        "Thursday": "Jeudi", 
        "Friday": "Vendredi", 
        "Saturday": "Samedi", 
        "Sunday": "Dimanche" 
    } 
%}

{% block title %}Inscription au congrès{% endblock %}

{% block body %}

    {% block header %}
        {% include('header.html.twig') %}
    {%  endblock %}

    <form action="{{ path('app_inscription') }}" method="post" id="form-inscription">

        <div class='container'>
            <div class='row justify-content-md-center'>
                <div class='col col-sm-10'>
                    <section id="inscription" >
                        <h3>Inscription </h3>
                        {% if is_inscrit is defined and is_validated is defined and is_validated ==false%}Vous avez une inscription en attente:
                        {% elseif is_inscrit is defined and is_validated is defined and is_validated==true%} Vous avez une inscription validée: 
                        {% endif %}

                        <section id="infos-licencies">
                            <div>
                                <label for="numLicence">Numéro de licence:</label>
                                {{ licencie.getNumlicence() }}
                            </div>
                            <div>
                                <label for="qualite">Qualité:</label>
                                {{ qualite.getLibellequalite() }}
                            </div>
                             <div>
                                <label for="club">Club:</label>
                                {{ club.getNom()}}
                            </div>
                            <div>
                                <label for="nomPrenom">Nom et prénom:</label>
                                {{ licencie.getPrenom() }} {{ licencie.getNom() }}
                            </div>
                            <div>
                                <label for="adresse1">Adresse:</label>
                                {{ licencie.getAdresse1() }}
                            </div>
                            <div>
                                <label for="adresse2">Adresse (suite):</label>
                                {{ licencie.getAdresse2() }}
                            </div>
                            <div>
                                <label for="cp">Code postal:</label>
                                {{ licencie.getCp() }}
                            </div>
                            <div>
                                <label for="ville">Ville:</label>
                                {{ licencie.getVille() }}
                            </div>
                            <div>
                                <label for="email">Adresse e-mail:</label>
                                <input type='email' name='licencie-email' id='licencie-email' value={{ user.getEmail() }}>
                            </div>
                            <div>
                                <label for="tel">Téléphone:</label>
                                {{ licencie.getTel() }}
                            </div>
                        </section>
                        <section id="ateliers" >
                            <h3>Ateliers</h3>
                            <div id="max-ateliers" style="color:navy; font-style:italic;">Vous pouvez assister à 5 ateliers maximum et seuls les ateliers encore disponibles sont affichés.</div>
                            <div class="container">
                                <div class='row align-items-start gx-3'>
                                    {% for atelier in ateliers %}
                                        <div class='col col-sm-4 gy-3'>
                                            <div class='row' id="choix-ateliers">
                                                <div class='col col-sm-1'><input class="ateliers-ckc" id ="checkbox-{{atelier.id}}" type="checkbox" name="ateliers[]" value="{{atelier.id}}" {% if ateliersChoisis is defined  and atelier in ateliersChoisis %} checked {% endif %}/> </div>

                                                <div id ="libelleAtelier-{{atelier.id}}" class='col'>{{atelier.id}} {{ atelier.libelle }}</div>
                                            </div>

                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </section>

                        <section id="hebergement">
                            <h3>Hébergement</h3>
                            <div class="container">
                                <div class="row">
                                    {% for hotel in hotels %}

                                        <div class='col col-6'>

                                            <h6>{{ hotel.getPnom() }}</h6>
                                            <div class='row'>
                                                <div class='col col-4'></div>
                                                {%  for nuite in distinctNuites %}
                                                    <div class='col col-4'>{{ nuite|date('d/m') }}</div>
                                                {%  endfor %}
                                            </div>
                                            {%  for proposer in proposers %}

                                                {% if proposer.getHotel() == hotel %} 
                                                    <div class="row">

                                                        <div class='col col-4'>{{ proposer.getCategorie().getLibelleCategorie() }}</div>

                                                        {% for nuite in nuites %}
                                                            {% if nuite.getHotel() == hotel and nuite.getCategorie()== proposer.getCategorie() %}
                                                                <div class='col col-4'><input type="checkbox" name="hebergements[]" value="{{ nuite.getId() }}_{{ proposer.getTarifNuite() }}" {% if nuitesChoisies is defined  and nuite in nuitesChoisies %} checked {% endif %}/></div>

                                                            {% endif %}


                                                        {% endfor %} 
                                                    </div>
                                                {% endif %}

                                            {% endfor %}

                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </section>

                        <section id="Restauration">
                            <h3>Restauration</h3>
                            <div class="container">
                                <div class="row">
                                    <div class="col col-4"></div>

                                    {% for typeRepas in typesRepas %}
                                        <div class="col col-4">{{ typeRepas }}</div>
                                    {%  endfor %}

                                </div>
                                {% for daterestauration in datesRestauration %}
                                    <div class="row">
                                        <div class="col col col-4">
                                            {{ trans_day_hash[daterestauration|date('l')] }}
                                        </div>
                                        {% for typeRepas in restaurations[daterestauration]  %}
                                            {% set r=daterestauration~"_"~typeRepas %}
                                            <div class='col col col-4'><input type="checkbox" name="restaurations[]" value='{{daterestauration}}_{{ typeRepas }}' {% if restaurationsChoisiesSTR is defined  and  r in restaurationsChoisiesSTR %}checked{% endif %}/></div>
                                            {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>

                        </section>
                        {% if  is_inscrit is defined %}
                            <div>Montant dû : {{ montantInscription }}€ </div>
                        {% endif %}
                        {% if is_inscrit is not defined %}
                            <input class="btn btn-success" type="submit" name='submit' value="Enregistrer"/>
                        {% endif %}   
                        {% if is_inscrit is defined  and is_validated ==false %}
                            <input class="btn btn-warning" type="submit" name='submit' value="Abandonner"/>
                            <input class="btn btn-danger" name='submit' type="submit" value="Valider"/>
                        {% endif %}

                    </section>
                </div>
            </div>

        </div>

    </form>


{% endblock %}
