{% extends 'base.html.twig' %}

{% block title %}Ajouter un theme{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}


    <div class='container'>

        <h1>Ajouter un thème</h1>
        {{ form_start(form, {'attr': {'class': 'my-form'}}) }}
        <div class="form-errors my-custom-class-for-errors">
            {{ form_errors(form) }}
        </div>

        <div id="form-theme" class="form-row col-md-5">
            <div class="form-group row ">
                {{ form_row(form.libelle, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group row">
                {% for atelier in form.ateliers %}
                    <div class="form-row"> {{ form_widget(atelier) }} {{ form_label(atelier) }} </div>
                {% endfor %}
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Valider</button>
                <a href="{{ path('app_ajouterateliers') }}" class="btn btn-secondary">Annuler</a>
            </div>

            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}