{% extends 'base.html.twig' %}

{% block title %}Ajouter un atelier{% endblock %}

{% block body %}

{% block header %}
    {% include('header.html.twig') %}
{%  endblock %}

{{ form_start(form, {'attr': {'class': 'my-form'}}) }}

<div class="form-errors my-custom-class-for-errors">
    {{ form_errors(form) }}
</div>

<div class="form-row">
    <div class="form-group col-md-6">
        {{ form_row(form.libelle, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group col-md-6">
        {{ form_row(form.ateliers, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>

<div class="form-actions">
    <button type="submit" class="btn btn-primary">Valider</button>
    <a href="{{ path('app_ajouterateliers') }}" class="btn btn-secondary">Annuler</a>
</div>

{{ form_end(form) }}

{% endblock %}